@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

body {
    background-color: rgb(16, 103, 16);
    padding: 0;
    margin: 0;
}

#content{
    max-width: 1200px;
    margin:0 auto;
    background-color: white;
}
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(56, 138, 56);
}
.nav_link {
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
}

img {
    height: 30%;
    display: block;
    margin:0 auto;
}

a {
    color: black;
}
nav a:hover{
    color: gray;
    background-color: white;
}

#main_title {
    font-size: 4em;
    text-align: center;
}

p {
    text-align: center;
}

footer{
    background-color: rgb(53, 156, 122);
    padding: 10px;
}